.subscribe-layout {
  display: grid;
  max-width: 980px;
}

.subscribe-form {
  display: grid;
  gap: 22px;
  padding: 16px;
}

.subscribe-form > .button {
  width: 100%;
}

@media (min-width: 980px) {
  .subscribe-form {
    padding: 22px;
  }
}
